<footer>
    <div class="f-info">
        <div class="f-social-info">
            <a href="/instagram"><i class="fa-brands fa-square-instagram " ></i></a>
            <a href="facebook"><i class="fa-brands fa-square-facebook"></i></a>
            <a href="/Linkedin"><i class="fa-brands fa-linkedin"></i></a>

        </div>
        <div class="f-company">
            TravelNest pvt.ltd
        </div>
        <div class="f-info-link">
            <a href="/terms">Terms</a>
            <a href="/privacy">Privacy</a>
            <a href="/support">Support</a>
        </div>
    </div>
    </footer>
 