<% layout('/layouts/boilerplate') -%>
    <style>
        #filters{
            display: flex;
            flex-wrap: wrap;
            align-items: center;
        }
        .filter{
            margin-top: 2rem;
            text-align: center;
            margin-right: 2rem;
            opacity: 1;
        }
        .filter:hover{
            opacity: 0.7;
            cursor: pointer;
        }
        .filter p{
            font-size: 0.8rem;
        }
        .tax-info{
            display: none;
        }
        .tax-info.show {
        display: inline;
        }
        .tax-toggle{
            margin-left: 1rem;
            margin-top: 1rem;
            border: 1px solid black;
            border-radius: 1rem;
            height: 3.5rem;
            padding: 1rem;
        }
        @media (max-width: 768px) {
            .tax-toggle{
                display: none;
            }
            .filter{
                display: none;
            }    
        }   
    </style>
    <body>
        <div id="filters" > 
            <div class="filter">  <!--To bring icons on same line display flex -->
                <div><i class="fa-solid fa-fire"></i></div>
                <p>Trending</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-house"></i></div>
                <p>Rooms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-landmark"></i></div>
                <p>Iconic Cities</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-mountain-sun"></i></div>
                <p>Mountains</p>
            </div>
            <div class="filter">
                <div><i class="fa-brands fa-fort-awesome"></i></div>
                <p>Forts</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-person-swimming"></i></div>
                <p>Pools</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-tent"></i></div>
                <p>Camping</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-tree"></i></i></div>
                <p>Farms</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-water"></i></div>
                <p>Waterfalls</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-snowflake"></i></div>
                <p>Arctic</p>
            </div>
            <div class="filter">  <!--To bring icons on same line display flex -->
                <div><i class="fa-solid fa-sailboat"></i></div>
                <p>Sea House</p>
            </div>
            <div class="filter">
                <div><i class="fa-solid fa-igloo"></i></div>
                <p>Domes</p>
            </div>
            <div class="tax-toggle">
                <div class="form-check-reverse form-switch ">
                <input type="checkbox" class="form-check-input" id="customSwitch1" role="switch" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Display total after taxes</label>
                </div>
            </div>    
        </div>

        <div class="row row-cols-lg-3 row-cols-sm-1 row-cols-ms-2 mt-3" id="align">
            <% for(listing of allListing){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link" >
                    <div class="card listing-card">
                        <img src="<%= listing.image.url %>" 
                            class="card-img-top"
                            alt="listing_image"
                            style="height: 20rem;">

                            <div class="card-img-overlay"></div>

                        <div class="card-body">
                            <b>
                                <h5 class="card-title">
                                    <%= listing.title %>
                                </h5>
                            </b>
                           <p class="card-text">
                            &#8377 <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> /night <i class="tax-info">&nbsp;  +18% GST </i>
                            </p>

                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        
                    </div>
                </a>
                <% } %>

        </div>
    </body>

    <script>
    const taxSwitch = document.getElementById("customSwitch1");

    taxSwitch.addEventListener("click", () => {
        const taxInfoElements = document.querySelectorAll(".tax-info");

        taxInfoElements.forEach((info) => {
            info.style.display = (info.style.display === "inline") ? "none" : "inline";
        });
    });
    info.classList.toggle("show");
</script>