<% layout('/layouts/boilerplate') -%>

    <body>
        <div class="row row-cols-lg-3 row-cols-sm-1 row-cols-ms-2" id="align">
            <% for(listing of allListing){ %>
                <a href="/listings/<%= listing._id %>" class="listing-link" >
                    <div class="card listing-card">
                        <img src="<%= listing.image.url %>" 
                            class="card-img-top"
                            alt="listing_image"
                            style="height: 20rem;">

                            <div class="card-img-overlay"></div>

                        <div class="card-body">
                            <b>
                                <h5 class="card-title">
                                    <%= listing.title %>
                                </h5>
                            </b>
                           <p class="card-text">
                            &#8377 <%= listing.price ? listing.price.toLocaleString("en-IN") : "N/A" %> /night
                            </p>

                            <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
                        </div>
                        
                    </div>
                </a>
                <% } %>

        </div>

    </body>