<% layout('/layouts/boilerplate') -%>
<body>
    <h3>Travel Nest all listings!</h3>
    <!-- <form action="/listings/new" method="GET" >
        <button type="submit">Create</button>
    </form> -->
    <ul>
       <% for(listing of allListing){ %>
        <li><a href="/listings/<%= listing._id %>"><%= listing.title %></a></li>
       <% }  %>
    </ul>
    
</body>